.container {
  height: 40px;
  width: 861px;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 1000px) {
  .container {
    width: 300px;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    justify-content: center;
    align-items: center;
  }
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.title div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.title .h {
  color: var(--text-title, #353544);
  font-family: "Golos Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin: 0;
}
.title .text {
  color: var(--text-regular, #AAAAB4);
  font-family: "Golos Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin: 0;
}

.controls {
  margin-left: 193px;
}

.controlsMedia {
  margin: 0;
}
@media only screen and (max-width: 1000px) {
  .controlsMedia {
    width: 320px;
    margin-top: 38px;
    margin-left: 24px;
    justify-content: center;
    align-items: center;
  }
}

.labelActive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.labelActive p {
  margin: 0;
  padding: 0;
  color: var(--text-title, #353544);
  font-family: "Golos Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: none;
}

.labelDisable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.labelDisable p {
  margin: 0;
  padding: 0;
  color: var(--text-regular, #AAAAB4);
  font-family: "Golos Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: none;
}

.profile {
  margin-left: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 31px;
}
.profile .info {
  display: flex;
  flex-direction: column;
  height: -moz-min-content;
  height: min-content;
  text-align: right;
}
@media only screen and (max-width: 1000px) {
  .profile .info {
    display: none;
  }
}

.name {
  color: var(--text-title, #353544);
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 120px;
  margin: 0;
  padding: 0;
}

.class {
  color: var(--text-regular, #AAAAB4);
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 120px;
  margin: 0;
  padding: 0;
}