.container {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 28px;
  padding-bottom: 28px;
  border-radius: 15px;
  border: 1px solid var(--colors-violet, #A074FF);
  background: var(--palette-card, #FFF);
  min-height: 100px;
}
@media only screen and (max-width: 534px) {
  .container {
    width: 300px;
  }
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #EDEDED;
}
.title p {
  color: var(--text-regular, #AAAAB4);
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
}
.title p span {
  color: var(--text-title, #353544);
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.title .score {
  display: flex;
  width: 27px;
  height: 31px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--colors-violet, #A074FF);
  text-align: center;
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 2px;
  background: #F6F6F6;
}

.homework {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
.homework p {
  cursor: pointer;
  color: var(--text-regular, #AAAAB4);
  font-family: "Golos Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}