.container {
  margin-top: 50px;
  width: 880px;
}
@media only screen and (max-width: 1000px) {
  .container {
    width: 310px;
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    margin-top: 30px;
  }
}

.tabelHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tabelHeader .h {
  color: var(--text-title, #353544);
  font-family: "Golos Text";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin: 0;
}
.tabelHeader .text {
  color: var(--text-regular, #AAAAB4);
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin: 0;
}
.tabelHeader .text span {
  color: var(--colors-violet, #A074FF);
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tabelTable {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}